<launch>
    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find nav_planner)/logging_debug.conf"/>

    <node pkg="octomap_server" type="octomap_server_node" name="octomap_server" output="screen">
		<param name="resolution" value="0.05" />
		<param name="frame_id" type="string" value="/odom" />
		<param name="sensor_model/max_range" value="10.0" />
		<param name="latch" value="true" />

		<remap from="cloud_in" to="/camera/depth/points" />
	</node>
    
    <node pkg="nav_planner" type="goal_identifier_node" name="Goal_Identifier" output="screen">
		<remap from="octomap" to="/octomap_full" />
        <remap from="position" to="/odom" />
	</node>

	<node pkg="nav_planner" type="global_path_planner_node" name="Global_Path_Planner" output="screen">
		<remap from="octomap" to="/octomap_full" />
		<remap from="position" to="/odom" />
  	</node>

	<node pkg="nav_planner" type="velocity_control_node" name="Velocity_Controller" output="screen">
		<remap from="motor_power" to="/mobile_base/commands/motor_power"/>
		<remap from="cmd_vel" to="/mobile_base/commands/velocity"/>
		<remap from="position" to="/odom" />
  	</node>
</launch>

